.hnav{
    color:rgb(195, 47, 200);
}

.img4{
    width: 300px;
    height: 400px;
}
.img5{
    width: 500px;
}


.hero img{
    width: 500px;
    position: relative;
}
.circle{
    background: radial-gradient(55.48% 55.48% at 50% 44.52%, rgba(213, 156, 89, 0.76) 8.17%, rgba(228, 145, 253, 0.76) 63.5%, rgba(89, 33, 149, 0.7296) 99.99%);

    width: 550px;
    height: 400px;
    position: absolute;
    margin-top: 150px;
    border-radius: 50%;
    margin-left: 30px;
}

.hero1 img{
    width: 600px;
    margin-top: -210px;
    margin-left: 100px;
}
.hero1{
    background: radial-gradient(134.68% 134.68% at -21.25% 0%, rgba(139, 19, 186, 0.9843) 0%, rgba(144, 24, 196, 0.55) 57.17%, rgba(107, 28, 108, 0.86) 87.17%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}
.root img{
    width: 300px;
}
.product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: rgba(192, 33, 203, 0.804);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Horizontal offset, vertical offset, blur, color */
}

.hero3 img{
    width: 600px;
    margin-left: 100px;
}

#carousel {
    width: 100%;
    overflow: hidden;
}
#carousel .product-card.center {
    transform: scale(1.2);
}
#btnn{
    background-color: rgba(145, 18, 154, 0.804);
    border-radius: 20px;
}
.login-form {
    background-color: rgb(164, 23, 169);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

