.hnav{
    color:rgba(169, 102, 23, 1);
}
footer{
    background: radial-gradient(134.68% 134.68% at -21.25% 0%, rgba(139, 19, 186, 0.9843) 0%, rgba(144, 24, 196, 0.55) 57.17%, rgba(107, 28, 108, 0.86) 87.17%);
}
.img4{
    width: 300px;
    height: 400px;
}
.img5{
    width: 500px;
}